#startPage {
    margin-top: 30vh;
    margin-bottom: 40vh;
    display: block; /*block*/
}

#header {
    display: none; /*inline*/
}

#searchbar {
    display: none; /*inline*/
}

#results {
    display: none; /*block*/
}

#dropdowns {
    display: none; /*inline*/
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  } 

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 10rem;
}

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }


