#startPage {
    margin-top: 30vh;
    margin-bottom: 40vh;
    display: block; /*block*/
}

#header {
    display: none; /*inline*/
}

#searchbar {
    display: none; /*inline*/
}

/* ----------------------------- Im hidding & displaying the dropdowns and the results from JS with a dropdowns.style.visibility = "hidden";  */
/* #results {
    display: none; 
} */
/* #dropdowns {
    display: none; 
} */

/* ------------------------------------------XIMENA */
/* style for dropdowns */
#submit{
    margin: 1%;
}

.dropdownsinit{
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    padding-bottom: 2%;
}

/* style for moodboard */
.messages{
    text-align: left;
}
.moodboard{
    /* background-color: red; */
    width: 100%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 7vw);
    grid-gap: 15px;
    padding: 2%;
    padding-top: 4%;
}
.gallery__img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}
.img1{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.img2{
    background-color: rgb(47, 47, 83);
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img3{
    background-color: rgb(11, 11, 56);
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}
.img4{
    background-color: rgb(64, 64, 75);
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
.img5{
    background-color: rgb(12, 12, 156);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
.img6{
    background-color: rgb(210, 210, 221);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 9;
}
.img7{
    background-color: rgb(19, 19, 56);
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}
.img8{
    background-color: rgb(128, 128, 226);
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}
.img9{
    background-color: rgb(0, 68, 255);
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}
.img10{
    background-color: rgb(89, 0, 255);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
}
/* -----------------STYLE FOR MOODBOARD  */
